body{
    background-image: url("G:/my data/weather-map/images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.input-area{
    border: 1px solid black;
    padding: 70px;  
}

.display-area{
    
    border: 1px solid #1f143b;
    padding: 0 5%;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "t t"
    "td id"
    "w w";  
}
.display-area>div{
    border: 1px solid rgb(19, 10, 1);
    padding: 10px;
    margin: 5px;
    text-align: center;
    
}
#title{
    grid-area: t;
}
.temp-data{
    grid-area: td;
}
.icon-data{
    grid-area: id;
}
.wind{
    grid-area: w;
}
#btn-search{
    padding: 8px 50px;
    border-radius: 31px;
    font-size: 20px;
    color: white;
    border: 1px solid #fff;
}
#btn-search:hover{
    background-color: #554D6A;
    color: #fff;
    border: 1px solid #554D6A;
}
input[type=text] {
   
    padding: 20px;
    border: 2px solid #554D6A;
    border-radius: 50px;
    color: #fff;
}

