body{
    background-image: url("G:/my data/weather-map/images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.input-area{
    /* border: 1px solid black; */
    padding: 70px;  
}

.display-area{
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "t t"
    "td id"
    "h h"; 
    justify-content: center; 
    align-items: center;
}
.display-area>div{
    padding: 10px;
    margin: 5px;
    text-align: center;
}
#title{
    grid-area: t;
}
#temp-data{
    grid-area: td;
}
.icon-data{
    grid-area: id;
}
#humidity{
    grid-area: h;
}
#btn-search{
    padding: 8px 50px;
    border-radius: 31px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
}
#btn-search:hover{
    background-color: #554D6A;
    color: #fff;
    border: 1px solid #554D6A;
}
input[type=text] {
   
    padding: 20px;
    border: 2px solid #554D6A;
    border-radius: 50px;
    color: #fff;
}
@media only screen and (max-width: 400px) {
    .display-area{
        padding: 30px;
        
        
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "t"
        "td"
        "id"
        "h"; 
        justify-content: center; 
        align-items: center;
        
    }
  }

